<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Striped Progress bar
          <div class="progress m-t-20">
            <div class="progress-bar bg-info progress-bar-striped active"
                 style="height:20px;"
                 [style.width]="getProgreso1"
                 role="progressbar">
            </div>
          </div>
          <div class="progress m-t-20">
            <div class="progress-bar bg-success progress-bar-striped active"
                 style="height:20px;"
                 [style.width]="getProgreso2"
                 role="progressbar">
            </div>
          </div>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progreso1 = $event" [progress]="progreso1"></app-incrementador>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador (valorSalida)="progreso2 = $event" [progress]="progreso2"></app-incrementador>
      </div>
    </div>
  </div>
</div>
